<form class="form-inline" action="/filter/course_type">
  <div class="input-group mb-3">
    <input type="text" name="course_type" class="form-control" placeholder="course type" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" id="button">Search</button>
    </div>
      <a class="btn btn-outline-success" href="/filter/unexpired" style="margin-left:5px">unexpired</a>
      <a class="btn btn-outline-success" href="/records" style="margin-left:5px">all</a>

  </div>
</form>
<% @records.reverse_each do |record| %>
    <% if record["course"]["course_type"] == @course_type%>
        <div class="card">
            <div class="card-header">
                <a href="/record/<%=record["id"]%>"><%=record["course"]["subject"]%></a>
            </div>
            <div class="card-body">
                <p class="card-text">類型：<%= record["course"]["course_type"]%></p>
                <p class="card-text">製造日期：<%= record["created_at"]%></p>
                <p class="card-text">有效日期：<%= record["exp_date"]%></p>

                <p class="card-text">是否上架 : <%= record["course"]["published"]%></p>
            </div>
        </div>
    <%end%>
<%end%>