<div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="jumbotron">
            <h3 class="display-4"><%= @record["course"]["subject"]%></h3>
            <p>url : <a href="#"><%= @record["course"]["url"]%></a></p>

            <p>課程類型：<span class="badge badge-info"><%= @record["course"]["course_type"]%></span></p>
            <p>有效期限：<%= @record["course"]["exp_time"]%>天</p>
            <p>$ <%= @record["price"]%> <%= @record["course"]["currency"]%></p>
            <p>上架 : <%= @record["course"]["published"]%></p>
            <hr class="my-4">
            <h5>課程介紹</h5>
            <p><%= @record["course"]["intro"]%></p>
            <hr class="my-4">
            <p>狀態：
                <%if @record["order_status"] == false%>
                    無法使用
                <%else%>
                    可使用
                <%end%>
            </p>
            <p>付款：<%= @record["payment_status"]%></p>
            <p>有效日期：<%= @record["exp_date"]%></p>
        </div>
        <div class="panel-footer"><a href='/records'>Back</div>
      </div>
    </div>
    

  </div>
